.positionCatcher{
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    &.selected{
        background: rgba(255,255,255, 0.1);
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .player{
        display: grid;
        align-content: center;
        position: absolute;
        z-index: 6;
        cursor: pointer;
        .playerName{
            content: attr(data-name-player);
            position: absolute;
            transform: translate(calc(-50% + 14px), -30px);
            top: 0;
            left: 0;
            pointer-events: none;
            font-size: 12px;
            padding: 3px;
            border-radius: 5px;
            background: #FFFFFF;
        }
        .player-role{

            &.def{
                min-width: 30px;
                min-height: 30px;
                max-width: 30px;
                max-height: 30px;
            }
            &.atq{
                height: 0;
                width: 0;
                border: 20px solid transparent;
                transform: translateY(calc(-50% + 4px)) translateX(calc(-50% + 12px));
            }
        }
    }

    .futurPositions{
        opacity: 1;
        position: absolute;
        z-index: 5;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: grid;
        align-content: center;
        color: #FFFFFF;
    }
}




