.controllButtons{
    position: fixed;
    display: grid;
    left: 5px;
    bottom: 5px;
    padding: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    .actionnable-button{
        padding: 3px;
        margin-bottom: 5px;
        border: none;
        background: #0080e9;
        color: #ffffff;
        border-radius: 5px;
        transition: 0.15s;
        &:last-child{
            margin-bottom: 0px;
        }
        &:hover{
            background: #006cc5;
        }
    }
}